.navbar-transparent {
    background-color: transparent !important;
    width: Hug (31px)px;
height: Hug (21px)px;
gap: 0px;
opacity: 0px;

}
.links {
    width: Hug (568px)px;
height: Hug (21px)px;
top: -995px;
left: 5983px;
gap: 50px;
opacity: 0px;

}